@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot');
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
         url('fonts/GraphikLCG-Semibold.woff') format('woff'),
         url('fonts/GraphikLCG-Semibold.ttf') format('truetype'),
         url('fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
         url('fonts/GraphikLCG-Regular.woff') format('woff'),
         url('fonts/GraphikLCG-Regular.ttf') format('truetype'),
         url('fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Graphik LCG', sans-serif;
    background-color: #FFFFFF;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.box {
    max-width: 1330px;
    margin: 0 auto;
}
.main {
    flex: 1 1 auto;
}
.header__block {
    padding: 25px 0 24px;
    border-bottom: 1px solid #E5E5E5;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
}
.header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__logo-container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;   
    justify-content: flex-start;
}
.main__logo-image {
    margin-right: 57px;
}
.navigation{
    align-self: center;
}
.navigation__list {
    display: flex;
    align-items: center;
}
.navigation__item {
    font-size: 15px;
    line-height: 20px;
    margin-right: 57px;
}
.navigation__link {
    color: #000000;
    text-decoration: none;
    display: block;
}
.navigation__item-block3.navigation__item {
    margin-right: 42px;
}
.navigation__item-block4.navigation__item {
    margin-right: 49px;
}
.delete-menu__margin.navigation__item {
    margin-right: 0;
}
.navigation__item:hover {
    background-color: blanchedalmond;
    padding: 2px 0;
}
.login__button {
    font-family: 'Graphik LCG', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    padding: 1px 36px;
    margin-right: 10px;
    cursor: pointer;
}
.login__button:hover{
    background-color: blanchedalmond;
}
.login-free__button {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6336;
    border: none;
    padding: 0 21px 0 22px;
    cursor: pointer;
}
.login__block-form {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;   
}
.login-free__button:hover {
    background-color: coral;
}
.intro__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.intro__block-image {
    max-width: 759px;
    height: 529px;
}
.intro__block {
    padding: 129px 0 172px;
}
.intro__title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    max-width: 552px;
    margin-bottom: 51px;
}
.intro__text {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
}
.intro__block-form {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;  
}
.demo__button {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
    padding: 0 29px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 10px;
}
.demo__button:hover {
    background-color: blanchedalmond;
}
.intro__footer {
    padding-top: 25px;
}
.intro__footer-text {
    font-size: 15px;
    line-height: 25px;
}
.logo__block {
    background-color: #FF9C7D;
    padding: 108px 0 104px;
}
.title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}
.logo__block-title {
    max-width: 720px;
    margin: 0 auto;
}
.logo__block-list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content__block {
    padding: 90px 0 150px;
}
.content__row {
   display: flex;
   flex-direction: column;
}
.content__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
.content__wrapper.wrapper-reverse {
    flex-direction: row-reverse;
}
.content__row div:last-child {
    margin-bottom: 0;
}
.content__block-description {
    flex: 1 1 auto;
    margin-right: 165px;
}
.content__block-description.description-reverse {
    margin-right: 0;
    margin-left: 165px;
}
.content__block-image {
    flex: 0 0 632px;
}
.content__title {
    margin-bottom: 30px;
}
.content__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}
.content__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.content__link:hover {
    color: blue;
}
.text__link {
    color: #000000;
}
.text__link:hover {
    color: blue;
}
.lokalize {
    background-color: #FFF8E4;
    padding: 120px 0 93px;
}
.lokalize__title {
    text-align: center;
    margin-bottom: 58px;
}
.lokalize__row {
    display: flex;
    flex-wrap: wrap;
}
.lokalize__wrapper {
    flex: 0 1 33.333%;
    margin-bottom: 57px;
}
.lokalize__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
}
.lokalize__content-image {
    max-width: 160px;
    margin-bottom: 26px;
}
.lokalize__content-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.lokalize-content__title-link {
    text-decoration: none;
    color: #000000;
}
.lokalize-content__title-link:hover {
    color: blue;
}
.lokalize__content-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.productivity__block {
    padding: 154px 0 217px;
}
.productivity__block-title {
 text-align: center;
 margin-bottom: 25px;
}
.productivity__row {
    display: flex; 
}
.productivity__wrapper {
    flex: 0 1 33.333%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.productivity__row div:last-child {
    margin-right: 0;
}
.productivity__icon-wrap {
   margin-bottom: 49px;
   flex: 1 1 auto;
}
.productivity__icon {
    max-width: 180px;
}
.productivity__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}
.productivity__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}
.productivity__subtitle {
    font-size: 20px;
    line-height: 30px;
}
.productivity__link {
    color: #000000;
}
.productivity__link:hover {
    color: blue;
}
.quote__block {
    background-color: #C9E8F2;
    padding: 53px 0 105px;
}
.quote__row {
    display: flex;
    justify-content: space-between;
}
.quote__item {
    max-width: 895px;
}
.quote__text {
    font-size: 30px;
    line-height: 40px;
}
.quote__subtext {
    font-size: 15px;
    line-height: 25px;
    margin: 23px 0 7px;
}
.quote__image-wrap {
    flex: 0 0 310px;
}
.progress__block {
    background-color: #DABC98;
    padding: 90px 0 88px;
}
.progress__row {
    display: flex;
}
.progress__content {
    display: flex;
    align-items: center;
    padding-right: 124px;
    border-right: 1px solid #000000;
}
.progress__image-wrap {
    margin-right: 67px;
}
.progress__content-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    max-width: 461px;
}
.progress__image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-image__first-wrapp {
    margin-left: 71px;
    max-width: 150px;
}
.integration__block {
    padding: 165px 0 162px;
}
.integration__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.integration__item-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    max-width: 790px;
    text-align: center;
}
.integration__item-text {
    font-size: 25px;
    line-height: 30px;
    max-width: 540px;
    text-align: center;
    margin-bottom: 25px;
}
.integration-item__image-wrapp {
    margin-bottom: 32px;
}
.integration__item-link {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6336;
    text-decoration: none;
    padding: 0 20px;
    cursor: pointer;
}
.try__block {
    background-color: #FF9C7D;
    padding: 119px 0 161px;
}
.try__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.try__title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    max-width: 790px;
    margin-bottom: 29px;
}
.try__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 54px;
}
.try__button.login-free__button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 40px;
    font-size: 17px;
    line-height: 60px;
}
.try__button.login-free__button:hover {
    background-color: gray;
}
.categories {
    background-color: #EEEEEE;
    padding: 92px 0 95px;
}
.banner {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-right: 70px;
}
.banner__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
}
.banner__image-wrapp {
    flex: 0 0 300px;
    margin-bottom: 31px;
}
.banner__logo-wrap {
    margin-bottom: 11px;
}
.banner__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}
.banner__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.banner__subtitle-link {
    text-decoration: none;
    color: #000000;
}
.banner__subtitle-link:hover {
    color: blue;
}
.categories__row {
    display: flex;
}
.categories__row div:last-child {
    margin-right: 0;
}
.categories__list-wrapp.left {
    margin-left: 70px;
}
.categories__list-wrapp {
    display: flex;
    flex-direction: column;
    max-width: 190px;
    margin-right: 31px;
}
.categories__list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}
.categories__list {
    display: flex;
    flex-direction: column;
}
.categories__items {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}
.categories__list-link {
    text-decoration: none;
    color: #000000;
}
.categories__list-link:hover {
    color: blue;
}
.copyright__block {
    background-color: #EEEEEE;
    padding: 47px 0 48px;
    border-top: 1px solid #000000;
}
.copyright__row {
    display: flex;
    justify-content: space-between;
}
.copyright__description {
    display: flex;
}
.copyright__description-logo {
    margin-right: 14px;
}
.copyright__text {
    font-size: 12px;
    line-height: 15px;
}
.copyright__text.copyright__description-text {
    max-width: 300px;
}